@import 'tailwindcss';

@theme {
	--color-royal-blue: #0a2463;
	--color-ghost-white: #fffaff;
	--color-cerise: #d8315b;
	--color-eerie-black: #1e1b18;
	--color-celestial-blue-hover: #2a7aab;
	--color-celestial-blue: #3e92cc;

	--animate-spin-slow: spin-slow 1s linear infinite;
	--animate-fade: fade 0.1s linear;

	--color-chip-1: oklch(0.75 0.2 60);
	--color-chip-2: oklch(0.7 0.22 142);
	--color-chip-3: oklch(0.65 0.25 264);
	--color-chip-4: oklch(0.7 0.25 27);
	--color-chip-5: oklch(0.75 0.28 340);
	--color-chip-6: oklch(0.6 0.25 320);
	--color-chip-7: oklch(0.75 0.25 250);

	@keyframes spin-slow {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

.page_title {
	@apply text-royal-blue text-4xl font-semibold;
}

.tabs_list {
	@apply flex h-fit flex-1 flex-col gap-4 rounded-md shadow-lg;
}

.tabs_trigger {
	@apply flex gap-2 py-4 pl-8;
}
