@import 'tailwindcss';

@theme {
	--color-mint-500: rgba(30, 70, 200, 0.2);
	/* --color- */
}

@utility ariel {
	font-size: 12px;
}

.bazooka {
	@variant not-dark {
		background-color: red;
	}
	@variant dark {
		background-color: green;
	}
}
